/CoursesWebsite/dist/
/CourseWebsite/build/
/CourseWebsite/dist/
/CourseWebsite/nbproject/private/
/CoursesWebsite/CoursesWebsite/nbproject/private/
/CoursesWebsite/CoursesWebsite/build/
/CoursesWebsite/CoursesWebsite/dist/
/practice/nbproject/private/
/CoursesWebsite/CoursesWebsite_1/nbproject/private/
