<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- FILTERS -->
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>filter.LoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <!-- FILTER MAPPINGS -->
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- SERVLETS -->
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>controller.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>controller.paymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseController</servlet-name>
        <servlet-class>controller.courseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>instructorController</servlet-name>
        <servlet-class>controller.instructorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewController</servlet-name>
        <servlet-class>controller.reviewController</servlet-class>
    </servlet>
    <!-- SERVLET MAPPINGS -->
    <servlet>
        <servlet-name>WishlistService</servlet-name>
        <servlet-class>service.WishlistService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/paymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseController</servlet-name>
        <url-pattern>/courseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>instructorController</servlet-name>
        <url-pattern>/instructorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewController</servlet-name>
        <url-pattern>/reviewController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistService</servlet-name>
        <url-pattern>/WishlistService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
